<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>GBM Challenge</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1 class="text-center my-3">GBM Challenge - Taxi tracking application</h1>
            <p class="lead">Dummy client used to send requests to the web service.</p>
            <p class="">This application has 3 registered users. You can use one to test all the functionalities.</p>
            <p class="">There are three functionalities</p>
            <ul>
                <li><strong>Test user</strong> - Test the credentials and recovery the user's last location.</li>
                <li><strong>Show historical</strong> - Show all user's locations, grouped by travel.</li>
                <li><strong>Start tracking</strong> - Start a new tracking. This functionality sends several requests to the web service:
                    <ul>
                        <li><strong>new-tracking</strong> - (one request) Initialize a new tracking.</li>
                        <li><strong>set-position</strong> - (multiple requests) Send a new location every several seconds.</li>
                        <li>In addition, this functionality communicates with other interested parties using a webhook each time that the user's location is updated.</li>
                    </ul>
                </li>
            </ul>
            <hr/>

            <div class="row">
                <div class="col-md-4">
                    <label>Available users</label><br/>
                    <ul>
                        <li><button class="btn btn-link btn-sm" onclick="selectUser(this);">5511223344 - U53r.1</button></li>
                        <li><button class="btn btn-link btn-sm" onclick="selectUser(this);">5544332211 - Us3r.2</button></li>
                        <li><button class="btn btn-link btn-sm" onclick="selectUser(this);">5512345678 - u53R.3</button></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <input type="text" id="user" class="form-control mb-1 rounded-0" placeholder="User's phone number"/>
                    <input type="password" id="pass" class="form-control mb-3 rounded-0" placeholder="Password"/>
                    <button class="btn btn-secondary rounded-0 text-white mb-1" onclick="validateCredentials();">Test User</button>
                    <button class="btn btn-primary rounded-0 text-white mb-1" onclick="getHistorical();">Show historical</button>
                    <button class="btn btn-success rounded-0 text-white mb-1" onclick="newTracking();" id='tracking'>Start tracking</button>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-12" id="content">
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/custom.js" type="text/javascript"></script>
    </body>
</html>
