<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>GBM Challenge</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1 class="text-center my-3">GBM Challenge - Taxi tracking</h1>
            <hr/>

            <p class="lead">Final application</p>

            <label>Demo</label>
            <ul>
                <li><a href="/demo">Taxi tracking application</a></li>
            </ul>
            <label>Available users</label>
            <ul>
                <li>5511223344 - qwerty</li>
                <li>5544332211 - qwerty</li>
                <li>5512345678 - qwerty</li>
            </ul>
            <hr/>

            <p class="lead">Technical details</p>

            <label>Entry point</label>
            <ul>
                <li><strong>/login</strong> - lorem</li>
            </ul>

            <label>Endpoints</label>
            <ul>
                <li>
                    <strong>/set-position</strong> - lorem</li>
                <li><strong>/get-position</strong> - lorem</li>
                <li><strong>/get-historical</strong> - lorem</li>
            </ul>

            <label>Webhook</label>
            <ul>
                <li>
                    <a href="https://webhook.site/#!/08244599-e1fa-4738-ab51-f2c2d1a31e4a/09f171b7-4971-4b48-bbf4-5a800e461683/1"
                       target="_blank">
                        Website to visualize the webhook requests
                    </a>
                </li>
            </ul>
            <hr/>
        </div>

    </body>
</html>